ul{
  margin-bottom:0in;
}
table.RpoToolbar{
  width:100%;
  height:26px;
  color:menutext;
  background-color:threedface;
  border-top-width:1px;
  border-top-style:solid;
  border-top-color:threedhighlight;
  border-right-width:1px;
  border-right-style:solid;
  border-right-color:threedshadow;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:threedshadow;
  border-left-width:1px;
  border-left-style:solid;
  border-left-color:threedhighlight;
  padding-top:1px;
  padding-right:1px;
  padding-bottom:1px;
  padding-left:1px;
}
ol{
  margin-bottom:0in;
}
img.RpoToolbarSymbol{
  width:16px;
  height:12px;
  margin:"0px 4px 0px 0px";
  vertical-align:middle;
}
h6{
  margin-top:12.0pt;
  margin-right:0in;
  margin-bottom:3.0pt;
  margin-left:0in;
  font-size:11.0pt;
  font-family:"Times New Roman";
}
h5{
  margin-top:12.0pt;
  margin-right:0in;
  margin-bottom:3.0pt;
  margin-left:0in;
  font-size:13.0pt;
  font-family:"Times New Roman";
  font-style:italic;
}
h4{
  margin-top:12.0pt;
  margin-right:0in;
  margin-bottom:3.0pt;
  margin-left:0in;
  page-break-after:avoid;
  font-size:14.0pt;
  font-family:"Times New Roman";
}
h3{
  margin-top:6.0pt;
  margin-right:0in;
  margin-bottom:6.0pt;
  margin-left:0in;
  page-break-after:avoid;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:12.0pt;
  font-family:Arial;
}
h2{
  margin-top:6.0pt;
  margin-right:0in;
  margin-bottom:6.0pt;
  margin-left:0in;
  page-break-after:avoid;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:12.0pt;
  font-family:Arial;
}
h1{
  margin-top:6.0pt;
  margin-right:0in;
  margin-bottom:6.0pt;
  margin-left:0in;
  page-break-after:avoid;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:12.0pt;
  font-family:Arial;
}
div.RePublicoPopupTopic{
  position:absolute;
  top:0;
  left:0;
  width:0;
  height:0;
  background-color:#FFFFFF;
  border:"1px #000000 outset";
}
div.RePublicoPopupShadow{
  position:absolute;
  top:0;
  left:0;
  width:0;
  height:0;
  background-repeat:repeat;
  background-image:url(./Images/shadow.gif);
}
div.RePublicoPopup{
  position:absolute;
  width:0;
  height:0;
  top:-100;
  left:0;
  z-index:600;
  visibility:hidden;
}
body.RpoToolbarFrame{
  margin:0cm;
  background-color:threedface;
}
a:visited{
  color:purple;
  text-decoration:underline;
  text-underline:single;
}
a:link{
  color:blue;
  text-decoration:underline;
  text-underline:single;
}
.TOCHeading{
  margin-top:12.0pt;
  margin-right:0in;
  margin-bottom:.5in;
  margin-left:0in;
  page-break-after:avoid;
  punctuation-wrap:simple;
  text-autospace:none;
  border:none;
  padding-top:0in;
  padding-bottom:0in;
  padding-left:0in;
  padding-right:0in;
  font-size:18.0pt;
  font-family:Arial;
  font-style:italic;
}
.TableTextHeading{
  margin-top:0in;
  margin-bottom:.0001pt;
  margin-left:0in;
  margin-right:0in;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:10.0pt;
  font-family:"Times New Roman";
  font-weight:bold;
}
.TableText{
  margin-top:0in;
  margin-bottom:.0001pt;
  margin-left:0in;
  margin-right:0in;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:10.0pt;
  font-family:"Times New Roman";
}
.StrucTableHeading{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:11.0pt;
  margin-left:0in;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:11.0pt;
  font-family:"Book Antiqua";
  font-weight:bold;
}
.SingleSpace{
  margin-top:0in;
  margin-bottom:.0001pt;
  margin-left:0in;
  margin-right:0in;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:10.0pt;
  font-family:"Times New Roman";
}
.Section4{
  page:Section4;
}
.Section3{
  page:Section3;
}
.Section2{
  page:Section2;
}
.Section1{
  page:Section1;
}
.RelatedTopicsHeading{
  font-weight:normal;
  margin-bottom:0pt;
  margin-top:9pt;
  font-family:"Times New Roman";
  font-size:11.0pt;
  text-align:left;
}
.RelatedTopicsBody{
  margin-bottom:0pt;
  margin-top:0pt;
  font-family:"Times New Roman";
  font-size:10.0pt;
}
.Preformatted{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:12.0pt;
  margin-left:0in;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:10.0pt;
  font-family:"Courier New";
  color:black;
}
.ParameterNames{
  font-style:italic;
}
.ParameterName{
  margin-top:0in;
  margin-bottom:.0001pt;
  margin-left:0in;
  margin-right:0in;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:10.0pt;
  font-family:"Times New Roman";
  font-weight:bold;
  font-style:italic;
}
.Parameter{
  margin-top:0in;
  margin-bottom:.0001pt;
  margin-left:0in;
  margin-right:0in;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:10.0pt;
  font-family:"Times New Roman";
}
.OddHeader{
  margin-top:0in;
  margin-bottom:.0001pt;
  margin-left:0in;
  margin-right:0in;
  text-align:right;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:10.0pt;
  font-family:Arial;
  font-style:italic;
}
.NumberedText{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:11.0pt;
  margin-left:.75in;
  text-indent:-.25in;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:10.0pt;
  font-family:"Times New Roman";
}
.Note{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:12.0pt;
  margin-left:31.7pt;
  text-indent:-31.7pt;
  tab-stops:".95in 1.2in 1.45in 1.7in";
  punctuation-wrap:simple;
  text-autospace:none;
  border:none;
  padding-top:0in;
  padding-bottom:0in;
  padding-left:0in;
  padding-right:0in;
  font-size:10.0pt;
  font-family:"Times New Roman";
  font-style:italic;
}
.MsoToc5{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:11.0pt;
  margin-left:22.7pt;
  tab-stops:"right dotted 6.25in";
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:10.0pt;
  font-family:"Book Antiqua";
  font-style:italic;
}
.MsoToc4{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:.0001pt;
  margin-left:33.1pt;
  tab-stops:"right dotted 6.25in";
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:10.0pt;
  font-family:"Book Antiqua";
  font-style:italic;
}
.MsoToc3{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:.0001pt;
  margin-left:22.3pt;
  tab-stops:"right dotted 6.25in";
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:10.0pt;
  font-family:"Book Antiqua";
  font-style:italic;
}
.MsoToc2{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:.0001pt;
  margin-left:11.5pt;
  tab-stops:"right dotted 6.25in";
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:11.0pt;
  font-family:"Book Antiqua";
}
.MsoToc1{
  margin-top:0in;
  margin-bottom:.0001pt;
  margin-left:0in;
  margin-right:0in;
  tab-stops:"right dotted 6.25in";
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:12.0pt;
  font-family:Arial;
  font-weight:bold;
}
.MsoNormal{
  margin-top:0in;
  margin-bottom:.0001pt;
  margin-left:0in;
  margin-right:0in;
  font-size:12.0pt;
  font-family:"Times New Roman";
}
.MsoListNumber5{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:11.0pt;
  margin-left:1.25in;
  text-indent:-.25in;
  tab-stops:"list 1.25in";
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:11.0pt;
  font-family:"Book Antiqua";
}
.MsoListNumber4{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:11.0pt;
  margin-left:1.0in;
  text-indent:-.25in;
  tab-stops:"list 1.0in";
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:11.0pt;
  font-family:"Book Antiqua";
}
.MsoListNumber3{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:11.0pt;
  margin-left:.75in;
  text-indent:-.25in;
  tab-stops:"list .75in";
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:11.0pt;
  font-family:"Book Antiqua";
}
.MsoListNumber2{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:11.0pt;
  margin-left:.5in;
  text-indent:-.25in;
  tab-stops:"list .5in";
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:11.0pt;
  font-family:"Book Antiqua";
}
.MsoListNumber{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:11.0pt;
  margin-left:.25in;
  text-indent:-.25in;
  tab-stops:"list .25in";
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:11.0pt;
  font-family:"Book Antiqua";
}
.MsoListBullet5{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:11.0pt;
  margin-left:1.25in;
  text-indent:-.25in;
  tab-stops:"list 1.25in";
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:11.0pt;
  font-family:"Book Antiqua";
}
.MsoListBullet4{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:11.0pt;
  margin-left:1.0in;
  text-indent:-.25in;
  tab-stops:"list 1.0in";
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:11.0pt;
  font-family:"Book Antiqua";
}
.MsoListBullet3{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:11.0pt;
  margin-left:.75in;
  text-indent:-.25in;
  tab-stops:"list .75in";
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:11.0pt;
  font-family:"Book Antiqua";
}
.MsoListBullet2{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:11.0pt;
  margin-left:.5in;
  text-indent:-.25in;
  tab-stops:"list .5in";
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:11.0pt;
  font-family:"Book Antiqua";
}
.MsoListBullet{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:.0001pt;
  margin-left:50.15pt;
  text-indent:-14.15pt;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:10.0pt;
  font-family:"Times New Roman";
}
.msoIns{
  text-decoration:underline;
  text-underline:single;
  color:teal;
}
.MsoIndexHeading{
  margin-top:12.0pt;
  margin-right:0in;
  margin-bottom:6.0pt;
  margin-left:7.0pt;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:14.0pt;
  font-family:Arial;
  font-weight:bold;
}
.MsoIndex5{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:.0001pt;
  margin-left:55.0pt;
  text-indent:-11.0pt;
  tab-stops:"right 2.75in";
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:9.0pt;
  font-family:"Times New Roman";
}
.MsoIndex2{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:.0001pt;
  margin-left:22.0pt;
  text-indent:-11.0pt;
  tab-stops:"right 2.75in";
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:9.0pt;
  font-family:"Times New Roman";
}
.MsoIndex1{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:.0001pt;
  margin-left:12.0pt;
  text-indent:-12.0pt;
  font-size:12.0pt;
  font-family:"Times New Roman";
}
.MsoHeading9{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:11.0pt;
  margin-left:0in;
  text-align:center;
  page-break-after:avoid;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:14.0pt;
  font-family:"Book Antiqua";
  font-weight:bold;
}
.MsoHeading8{
  margin-top:12.0pt;
  margin-right:0in;
  margin-bottom:3.0pt;
  margin-left:0in;
  font-size:12.0pt;
  font-family:"Times New Roman";
  font-style:italic;
}
.MsoHeading7{
  margin-top:12.0pt;
  margin-right:0in;
  margin-bottom:3.0pt;
  margin-left:0in;
  font-size:12.0pt;
  font-family:"Times New Roman";
}
.MsoFooter{
  margin-top:6.0pt;
  margin-right:0in;
  margin-bottom:.0001pt;
  margin-left:0in;
  tab-stops:"right 6.25in";
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:11.0pt;
  font-family:Arial;
  font-style:italic;
}
.msoDel{
  text-decoration:line-through;
  color:red;
}
.msoChangeProp{
  color:black;
}
.MsoBodyText{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:11.0pt;
  margin-left:0in;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:10.0pt;
  font-family:"Times New Roman";
}
.MethodSection{
  margin-top:0in;
  margin-bottom:.0001pt;
  margin-left:0in;
  margin-right:0in;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:10.0pt;
  font-family:"Times New Roman";
  font-weight:bold;
}
.HelpOnlyHeading1{
  margin-top:6.0pt;
  margin-right:0in;
  margin-bottom:6.0pt;
  margin-left:0in;
  page-break-after:avoid;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:12.0pt;
  font-family:Arial;
  font-weight:bold;
}
.HelpOnlyBodyText{
  margin-top:0in;
  margin-right:0in;
  margin-bottom:11.0pt;
  margin-left:0in;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:10.0pt;
  font-family:"Times New Roman";
}
.FuncHeading4{
  margin-top:6.0pt;
  margin-right:0in;
  margin-bottom:6.0pt;
  margin-left:0in;
  page-break-after:avoid;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:12.0pt;
  font-family:Arial;
  font-weight:bold;
}
.FuncHeading3{
  margin-top:6.0pt;
  margin-right:0in;
  margin-bottom:6.0pt;
  margin-left:0in;
  page-break-after:avoid;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:12.0pt;
  font-family:Arial;
  font-weight:bold;
}
.FuncHeading2{
  margin-top:6.0pt;
  margin-right:0in;
  margin-bottom:6.0pt;
  margin-left:0in;
  page-break-after:avoid;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:12.0pt;
  font-family:Arial;
  font-weight:bold;
}
.EvenHeader{
  margin-top:0in;
  margin-bottom:.0001pt;
  margin-left:0in;
  margin-right:0in;
  tab-stops:"center 3.0in right 5.7in";
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:10.0pt;
  font-family:"Times New Roman";
  font-style:italic;
}
.CitationBody{
  font-family:"Times New Roman";
  font-size:8pt;
}
.buttonText{
  font-family:tahoma;
  font-size:8pt;
  color:menutext;
}
.buttonPress{
  cursor:hand;
  color:menutext;
  background-color:threedface;
  border-top-width:1px;
  border-top-style:solid;
  border-top-color:threedshadow;
  border-right-width:1px;
  border-right-style:solid;
  border-right-color:threedhighlight;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:threedhighlight;
  border-left-width:1px;
  border-left-style:solid;
  border-left-color:threedshadow;
  padding-top:2px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:2px;
  margin-top:0px;
  margin-right:2px;
  margin-bottom:0px;
  margin-left:2px;
}
.buttonOver{
  cursor:hand;
  color:menutext;
  background-color:threedface;
  border-top-width:1px;
  border-top-style:solid;
  border-top-color:threedhighlight;
  border-right-width:1px;
  border-right-style:solid;
  border-right-color:threedshadow;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:threedshadow;
  border-left-width:1px;
  border-left-style:solid;
  border-left-color:threedhighlight;
  padding-top:1px;
  padding-right:1px;
  padding-bottom:1px;
  padding-left:1px;
  margin-top:0px;
  margin-right:2px;
  margin-bottom:0px;
  margin-left:2px;
}
.buttonOff{
  cursor:hand;
  color:menutext;
  background-color:threedface;
  border-top-width:1px;
  border-top-style:solid;
  border-top-color:threedface;
  border-right-width:1px;
  border-right-style:solid;
  border-right-color:threedface;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:threedface;
  border-left-width:1px;
  border-left-style:solid;
  border-left-color:threedface;
  padding-top:1px;
  padding-right:1px;
  padding-bottom:1px;
  padding-left:1px;
  margin-top:0px;
  margin-right:2px;
  margin-bottom:0px;
  margin-left:2px;
}
.buttonDown{
  cursor:hand;
  color:menutext;
  background-color:window;
  border-top-width:1px;
  border-top-style:solid;
  border-top-color:threedshadow;
  border-right-width:1px;
  border-right-style:solid;
  border-right-color:threedhighlight;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:threedhighlight;
  border-left-width:1px;
  border-left-style:solid;
  border-left-color:threedshadow;
  padding-top:2px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:2px;
  margin-top:0px;
  margin-right:2px;
  margin-bottom:0px;
  margin-left:2px;
}
.AddressText{
  margin-top:0in;
  margin-bottom:.0001pt;
  margin-left:0in;
  margin-right:0in;
  punctuation-wrap:simple;
  text-autospace:none;
  font-size:10.0pt;
  font-family:Arial;
}
